@import "utils/mixin";
@import "utils/placeholder";
@import "utils/function";
@import "utils/variable";

.bar {
  @extend $foo;
  mixin();
  font-size: add(font-size, 10);
}

#barz {
  @extend $foo;
}
